{% extends '@Gui/Layout/layout.twig' %}

{% block content %}
    {% for plugin in pluginData %}
        {% embed '@Gui/Partials/widget.twig' %}
            {% block widget_title -%}
                <h5>{{ plugin.name | default('') }}</h5>
            {%- endblock %}
            {% block widget_content %}
                <div class="row">
                    <div class="col-md-12">
                        <dl class="row col-md-12">
                            <h4>Description:</h4>
                            <p>{{ plugin.description }}</p>
                        </dl>
                        <dl class="row col-md-12">
                            <h4>Key Pattern:</h4>
                            <p>{{ plugin.keyPattern }}</p>
                        </dl>
                        <dl class="row col-md-12">
                            <h4>Total Entites:</h4>
                            <p>{{ plugin.totalAmount }}</p>
                        </dl>
                        {{ createActionButton('/cache-manager-gui/index/delete?name=' ~ plugin.name, 'Delete' | trans) }}
                    </div>
                </div>
            {% endblock %}
        {% endembed %}
    {% endfor %}
{% endblock %}
